body{
    padding: 10px;
    width: 200px;
    max-width: 200px;
    display: grid;
    grid-template-columns: 1;
    row-gap: 5px;
}
button{
    border-radius: 9999px;
    padding: 5px;
    max-width: 200px;
}
button:hover{
    background-color: darkcyan;
    color: white;
}
input{
    border-radius: 9999px;
    padding: 5px;
    max-width: 200px;
}
a{word-break: break-all;
}